* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #222629;
    font-family: Avenir;
}

.options-container {
    padding: 30px 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.option {
    background-color: hotpink;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}

.option p {
    padding-top: 120px;
    font-size: 3em;
    color: white;
    pointer-events: none;
}

.active {
    background-color: red;
}

.color-container {
    padding: 30px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.visible {
    display: grid;
}

.color-block {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.color-container p {
    position: absolute;
    top: center;
    bottom: 20px;
    left: 0px;
    text-align: center;
    width: 100%;
    pointer-events: none;
    font-size: 2em;
}

.color-block:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: .4s ease-in-out;
    content: 'Copied!';
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 300%;
    border-radius: 30px;
    background-color: rgba(0,0,0,.75);
    overflow: hidden;
}

.copied:after {
    animation: copyAnimation 2.5s ease-in-out forwards;
}

@keyframes copyAnimation {
    0% {
        height: 0;
    }
    15% {
        height: 100%;
    }
    85% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}